* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background: #ccc;
}
h2 {
  font-size: 1rem;
}
canvas {
  display: block;
  background: #665235;
  margin: auto;
}

.btn-container {
  position: absolute;
  top: 30px;
  left: 30px;
  display: none;
  flex-direction: column;
}

button {
  padding: 0px;
  border: none;
  margin-bottom: 10px;
  display: inline;
  max-width: 25px;
  font-size: 1rem;
}

#btn {
  padding: 5px 5px;
  background: #0366d6;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  position: absolute;
  top: 10px;
  left: 10px;
}

.menu a {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
}

.menu a:hover {
  background: #eee;
}
